body{
    background-color: black;
  }

h1{
    text-transform: uppercase;
    font-size: 3rem;
}

div{
    align-self: center;
    width: 50%;
    margin-left: 25%;
  }

.poster{
    /* font-family: 'Caveat', cursive;
    font-family: 'Crimson Text', serif; */
    width: 50%;
    margin-left: 100px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
  }



.motivation-img{
    border: 5px solid white;
    width: 100%;
  }